<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <a class="navbar-brand" routerLink="/">infoBoard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/offers">All Offers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/selected-offers">Chosen Offers</a>
      </li>
      <li ngbDropdown class="nav-item dropdown ">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</a>
        <div  ngbDropdownMenu class="dropdown-menu " aria-labelledby="dropdown01">
          <a class="dropdown-item" routerLink="/my/offers">My offers</a>
          <a class="dropdown-item" routerLink="/admin/offers">Manage offers</a>
          <a class="dropdown-item" routerLink="/admin/chosen-offers">Manage chosen offers</a>
          <a class="dropdown-item" >Log on</a>
          <a class="dropdown-item" routerLink="/sign-up">Sign up</a>
        </div>
      </li>
      <li class="nav-item ">
        <a routerLink="/new-offer">
          <button class="btn btn-primary float-sm-end" >Nowe ogłoszenie</button>
        </a>
      </li>
    </ul>
  </div>
</nav>

